<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6Um0cBXnJCynzZzZyeCc9ceTmRM9NNfo</string>
	<key>GCM_SENDER_ID</key>
	<string>268459879851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.codecoy</string>
	<key>PROJECT_ID</key>
	<string>codecoy-5d6fa</string>
	<key>STORAGE_BUCKET</key>
	<string>codecoy-5d6fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268459879851:ios:e5a01af1832f9ffdb036ee</string>
</dict>
</plist>